<footer>
  <div class="calling_details">
      <p>Call Us</p>
      <div class="call">
          <img src="/assets/images/call_icon.png" alt="" class="call_icon">
      </div>
      <h3><span>+ 022</span> 506 47538</h3>
  </div>
  <div class="social_media">
      <div class="social_media_icon">
          <img src="/assets/images/twitter_2.png" alt="">
      </div>
      <div class="social_media_icon">
          <img src="/assets/images/facebook.png" alt="">
      </div>
      <div class="social_media_icon">
          <img src="/assets/images/instagram.png" alt="">
      </div>
  </div>
  <div class="footer_logo">
      <img src="/assets/images/logo.png" alt="">
      <p> © 2023 Piramal. ALL RIGHTS RESERVED.</p>
  </div>
</footer>
