<div class="counter pb-5">
  <div class="container py-5">
      <div class="row">
          <div class="col-md-3">
              <h3 class="counter_numbers">50+</h3>
              <small class="counter_number_text">AMENITIES</small>
          </div>
          <div class="col-md-3">
              <h3 class="counter_numbers">250</h3>
              <small class="counter_number_text">APARTMENTS</small>
          </div>
          <div class="col-md-3">
              <h3 class="counter_numbers">9,290 <span class="counter_number_unit">SQ.MT</span></h3>
              <small class="counter_number_text">RECEREATIONAL SPACE</small>
          </div>
          <div class="col-md-3">
              <h3 class="counter_numbers">1,200</h3>
              <small class="counter_number_text">SLOT CAR PARKING</small>
          </div>
      </div>
  </div>
</div>
