<div class="surroundings">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="surrounding_heading">
                  <h5>SPECTACULAR SURROUNDINGS
                      AS FAR AS THE EYE CAN SEE</h5>
              </div>
              <div class="surrounding_text">
                  <p class="w-75 mt-2">Piramal Aranya is an ode to perfection. It balances contemporary design
                      with the scenic
                      natural beauty of its environment. Every residence invites you to soak in the
                      surroundings, from the endless greenery of Rani Baug on the western side and the
                      shimmering Arabian Sea on the east. Avyan at Piramal Aranya will be home to something
                      truly spectacular with premium dual aspect living</p>
              </div>
          </div>
      </div>
      <div class="row py-5">
          <div class="surrounding_counter_wrapper">
              <div class="surrounding_counter">
                  <h4>66%</h4>
                  <p> Botanical garden views</p>
              </div>
              <div class="surrounding_counter">
                  <h4>33%</h4>
                  <p> Mumbai harbour and botanical garden views</p>
              </div>
              <div class="surrounding_counter">
                  <h4>66%</h4>
                  <p>Mumbai harbour views</p>
              </div>
          </div>
      </div>
      <hr>
  </div>
</div>
