.surroundings {
  padding: 100px 0;
  color: #fff;
  background-color: #1A2440;
}

.surrounding_heading h5 {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
}

.surrounding_text p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

/* surroundings counter */
.surrounding_counter_wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.surrounding_counter h4 {
  font-family: "Gabriela", serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 90.56px;
  color: #00E5A1;
}

.surrounding_text {
  color: #A5A5A5;
}

.surrounding_counter p {
  color: #A5A5A5;
}
hr{
  height: 2px;
  background-color: #fff;
  margin: 0;
}
/* Responsive Styles */
@media screen and (max-width: 992px) {
  .surroundings {
    padding: 0;

  }
  .surrounding_heading h5 {
    font-size: 40px;
    line-height: 50px;
  }
  .surrounding_text p {
    font-size: 14px;
    line-height: 22px;
  }
  .surrounding_counter h4 {
    font-size: 50px;
    line-height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .surrounding_heading h5 {
    font-size: 36px;
    line-height: 45px;
  }
  .surrounding_text p {
    font-size: 13px;
    line-height: 20px;
  }
  .surrounding_counter_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .surrounding_counter h4 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .surroundings {
    padding: 0;
  }
  .surrounding_heading h5 {
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
  .surrounding_text p {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  .surrounding_counter_wrapper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .surrounding_counter h4 {
    font-size: 30px;
    line-height: 50px;
  }
}
