<div class="neighbourhood">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="neighbourhood_heading pb-5">
                  <p>LOCATION</p>
                  <h3>NEIGHBORHOOD</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="neighbourhood_content">
                  <ul>
                      <li>Bhau Daji Lad Museum <br><small>3.5 Km Away</small></li>

                      <li>Magen David Synagogue <br><small>3.5 Km Away</small></li>
                  </ul>
                  <ul>
                      <li>Bhau Daji Lad Museum <br><small>3.5 Km Away</small></li>

                      <li>Magen David Synagogue <br><small>3.5 Km Away</small></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row py-5">
          <div class="col-md-4">
              <div class="contact_container">
                  <h4>CONTACT US</h4>
                  <p class="w-75">Please enter details below and we shall get in touch with you shortly</p>
                  <form>
                      <div class="mb-3">
                          <input type="text" class="form-control" placeholder="Full Name">
                      </div>
                      <div class="mb-3">
                          <input type="number" class="form-control" placeholder="Contact Number">
                      </div>
                      <div class="mb-3">
                          <input type="email" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="mb-3 text-center">
                          <button class="btn btn-submit">SUBMIT</button>
                      </div>
                      <!-- <img src="/images/contactUs_icon/user.png" alt=""> -->
                  </form>
              </div>
          </div>
          <div class="col-md-8">
              <img src="/assets/images/map_home.png" alt="" class="w-100">
          </div>
      </div>
  </div>
</div>
