<div class="premium_amneties">
  <div class="container">
      <div class="row">
          <div class="col-md-12 premium_amneties_headings py-5">
              <p>ARANYA’S SERVICES</p>
              <h3>30+ PREMIUM AMENTIES</h3>
          </div>
      </div>
      <div class="row p-5">
          <div class="col-md-12">
              <div class="row m-5">
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/call.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>RECEPTION</h5>
                              <p>6 area for receptionist serve 24/7</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/security.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>SECURITY</h5>
                              <p>Security team with 24/7 camera system</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/ringing.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>FIRE ALARM</h5>
                              <p>6 area for receptionist serve 24/7</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row m-5">
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/car-parking.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>PARKING</h5>
                              <p>Parking area with extra capacity</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/board-meeting.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>CONFERENCE ROOM</h5>
                              <p>5 conference room setup in each block</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/air-conditioner.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>CONDITIONING</h5>
                              <p>ensure ventilation and air conditioning</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row m-5">
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/shopping-cart.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>SUPERMARKET</h5>
                              <p>5 supermarket in each block</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/massage.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>SPA AND MASSAGE</h5>
                              <p>Spa and Massage service for better health</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4 amenities_icon_bg">
                              <img src="/assets/images/primium_amenities_icons/swimming.png" alt="">
                          </div>
                          <div class="col-md-8 amneties_content">
                              <h5>4 SEASON POOL</h5>
                              <p>5 star indoor swimming 4 seasons </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<div class="container-fluid amneties_banner">
  <img src="/assets/images/gym_1.jpg" alt="" class="w-100 gym_img">
</div>
<div class="amenities">
  <div class="container">
      <div class="row">
          <div class="col-12 premium_amneties_headings py-5">
              <p>THE ADVANTAGES</p>
              <h3>AMENITIES</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="facilities p-4">
                  <p class="amenities_sr_nu">1</p>
                  <h5>TOP CLASS<br>
                      CLUB & FACILITIES</h5>
                  <img src="/assets/images/amenities_1.jpg" class="amenities_1" alt="">
                  <div class="div">
                      <p class="amenities_text">With a wide range of active and relaxing hubs, kids as well as
                          adult spaces and curated
                          indoor & outdoor activities, be tempted to try something new every day.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="facilities facilities_alt p-4">
                  <p class="amenities_sr_nu">2</p>
                  <h5>TOWER EXCLUSIVE<br> AMENITIES & FACILITIES
                  </h5>
                  <img src="/assets/images/amenities_2.jpg" class="amenities_1" alt="">
                  <div class="div">
                      <p class="amenities_text">With a wide range of active and relaxing hubs, kids as well as
                          adult spaces and curated
                          indoor & outdoor activities, be tempted to try something new every day.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="facilities p-4">
                  <p class="amenities_sr_nu">3</p>
                  <h5>RECEREATIONAL
                      AMENITIES & FACILITIES
                  </h5>
                  <img src="/assets/images/amenities_3.jpg" class="amenities_1" alt="">
                  <div class="div">
                      <p class="amenities_text">With a wide range of active and relaxing hubs, kids as well as
                          adult spaces and curated
                          indoor & outdoor activities, be tempted to try something new every day.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="facilities facilities_alt p-4">
                  <p class="amenities_sr_nu">4</p>
                  <h5>MULTIPURPOSE<br> GAMES ROOM </h5>
                  <img src="/assets/images/amenities_4.jpg" class="amenities_1" alt="">
                  <div class="div">
                      <p class="amenities_text">With a wide range of active and relaxing hubs, kids as well as
                          adult spaces and curated
                          indoor & outdoor activities, be tempted to try something new every day.
                      </p>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
