<section class="banner">
  <div class="container">
    <div class="banner-content">
      <button class="btn-outline-light">MUMBAI</button>
      <div class="banner-text">
          <h1>PROJECT</h1>
          <h2>ARANYA</h2>
          <h4>Pirimal Groups</h4>
      </div>
      <div class="curved-text">
          <span style="--i:1">D</span>
          <span style="--i:2">I</span>
          <span style="--i:3">S</span>
          <span style="--i:4">C</span>
          <span style="--i:5">O</span>
          <span style="--i:6">V</span>
          <span style="--i:7">E</span>
          <span style="--i:8">R</span>
          <span style="--i:9"> </span>
          <span style="--i:10">O</span>
          <span style="--i:11">U</span>
          <span style="--i:12">R</span>
          <span style="--i:13"> </span>
          <span style="--i:14">P</span>
          <span style="--i:15">R</span>
          <span style="--i:16">O</span>
          <span style="--i:17">J</span>
          <span style="--i:18">E</span>
          <span style="--i:19">C</span>
          <span style="--i:20">T</span>
          <div class="arrow">
              <img src="/assets/images/arrow-down.png" alt="Arrow">
          </div>
      </div>
  </div>
  </div>
</section>
