<div class="overview">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-3">
        <img src="/assets/images/Our_Apartment_1.png" alt="" class="apartment-img">
      </div>
      <div class="col-md-6 d-flex flex-column py-5">
        <p class="text-aqua pt-5">MUMBAI</p>
        <h3 class="py-3">OUR APARTMENTS</h3>
        <p class="apartment_text">Presenting Piramal Aranya, a high rise gated sanctuary that offers
          luxuriant 2, 3 & 4 BHK
          homes inclusive of advanced wellness technologies, dual-aspect blue and green views and
          a world-class lifestyle crafted alongside the world’s leading partners at Rani Baug,
          Byculla, South Mumbai.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 d-flex flex-column  py-5">
        <p class="text-aqua pt-5">2 BED EXCLUSIVE RESIDENCES</p>
        <h3 class="py-3">2BHK - EAST WING</h3>
        <ul class="apartment_text" type="disk">
          <li> All bedrooms with en-suite bathrooms</li>
          <li>Apartments with harbour views</li>
          <li> Master bedroom with corner windows offering panoramic views</li>
          <li>All shafts on the external face</li>
          <li>Kitchen with dry balcony</li>
          <li>Ease of combining apartments to create exclusive wing apartment with expansive living &
            dining area</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/assets/images/2BHK_apartment.png" alt="" class="apartment-img ms-5">
      </div>
    </div>
    <hr>
  </div>
</div>