<div class="container-fluid">
  <div class="row">
    <!-- --------------------navbar start------------------- -->
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
    <!-- --------------------navbar end--------------------->
    <!-- --------------------banner start--------------------->
    <div class="row">
      <div class="col-md-12">
        <app-banner></app-banner>
      </div>
    </div>
    <!-- --------------------banner end--------------------->
  </div>
</div>

<router-outlet></router-outlet>
